
body {
  width: 950px;
  height: 750px;

  background-image:url(SakuraJima.png);
  background-repeat: no-repeat;
  background-size: 1180px;
  object-fit: contain;
  background-position: center top 30px;

  margin-right: auto;
  margin-left : auto;
  margin-top: auto;
  margin-bottom:auto;
}

h5 {      /*写真に合わせて傾ける*/
    color:lightgray;
    position: relative; 
    top:-77px; 
    transform: rotate(26deg);
     }
  
h1{        /*写真に合わせて傾ける*/
    position: relative; right; 
    color: glay;
    top:-70px; 
    transform: rotate(26deg);
   
 }
 
button {     /*右端角を丸く*/
  padding: 5px 15px;
  background-color: black;
  color: #FDFFFF;
  border-style: none;
  border-radius:0px 10px 10px 0px;
}

input {       /*左端角を丸く*/
  height: 27px;
  border-style: none;
  border-radius:10px 0px 0px 10px;
}

h3 {     /*写真との関係で通常より上位置*/
    color:black;
     position: relative; 
    top:-15px; 
}

a {           
    color:black;   
   }

.Footer {
position: fixed; /* フッターを固定する */
bottom: -85px; /* 上部から配置の基準位置を決める */
text-align:right; 
width: 60%; /* フッターの横幅を指定する */
height: 35px; /* フッターの高さを指定する */
padding:0px; /* フッター内側の余白を指定する(上下左右) */
color: lightgray; /* フッターのフォントの色を指定する */
transform: rotate(-19deg);
}

