
body {
  width: 900px;
  height: 1200px;

  background-image:url(SakuraJima.png);
  background-repeat: no-repeat;
  background-size: 1200px;
  background-position: center top 20px;

  margin-right: auto;
  margin-left : auto;
}

h5 {      /*写真に合わせて傾ける*/
    color:lightgray;
    position: relative; 
    top:-60px; 
    transform: rotate(23.5deg);
    -moz-transform: rotate(23.5deg);
    -webkit-transform: rotate(23.5deg);
  }
  
h1{        /*写真に合わせて傾ける*/
    position: relative; right; 
    color: glay;
    top:-70px; 
    transform: rotate(24deg);
    -moz-transform: rotate(24deg);
    -webkit-transform: rotate(24deg);
 }
 
button {     /*右端角を丸く*/
  padding: 5px 15px;
  background-color: black;
  color: #FDFFFF;
  border-style: none;
  border-radius:0px 10px 10px 0px;
}

input {       /*左端角を丸く*/
  height: 27px;
  border-style: none;
  border-radius:10px 0px 0px 10px;
}

h3 {
    color:black;
     position: relative; 
    top:-15px; 
}

a {           
    color:black;   
   }

footer {
      width: 500px;
 　 height: 50px;
      position: absolute; /*絶対位置*/
      bottom: 0px; /*下からの距離**/
     text align:center;
}
 
h6 {      /*写真に合わせて傾ける*/
     color:lightgray;
     position: relative; 
     right: -270px; 
     bottom:-32px;
     transform: rotate(-12.5deg);
    -moz-transform: rotate(-12.5deg);
    -webkit-transform: rotate(-12.5deg);

  }
