

body {
  width: 950px;
  height: 750px;

  background-image:url(SakuraJima.png);
  background-repeat: no-repeat;
  background-size: 1180px;
  object-fit: contain;
  background-position: center top 30px;

  margin-right: auto;
  margin-left : auto;
  margin-top: auto;
  margin-bottom:auto;
}

h5 {      /*写真に合わせて傾ける*/
    color:lightgray;
    position: relative; 
    top:-77px; 
    transform: rotate(26deg);
     }

h1{        /*写真に合わせて傾ける*/
    position: relative; right; 
    color: glay;
    top:-70px; 
    transform: rotate(26deg);

 }

button {     /*右端角を丸く*/
  padding: 5px 15px;
  background-color: black;
  color: #FDFFFF;
  border-style: none;
  border-radius:0px 10px 10px 0px;
}

input {       /*左端角を丸く*/
  height: 27px;
  border-style: none;
  border-radius:10px 0px 0px 10px;
}

h3 {     /*写真との関係で通常より上位置*/
    color:black;
     position: relative; 
    top:-15px; 
}

a {           
    color:black;   
   }

  a.btn {
    margin: 0 auto;
    background-size: 120%;
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    width: 200px;
    height: 40px;
    padding: 40px 0;
    line-height: 20px;
    border: double 4px;
    border-radius: 20%;
    vertical-align: middle;
    overflow: hidden;
    transition: .6s;
    position:fixed;	
	bottom:115px;
	right:420px;
}
 
a.btn:hover {
    transform: rotateX(360deg);
}
